.book-section__title {
    @include flexbox(center, space-between);
    align-self: center;
    width: $full-of-parent;
    font-family: $muli;
    font-size: 1.7rem;
    border-bottom: 3px solid black;
    padding: 0 0 5px 0;
    margin: 0 auto;
}


.book-section__row {
    display: none;
    max-width: 850px;
    height: 25vh;

    flex-wrap: wrap;
    transition: 2s;

    &--active {
        @include flexbox(center, space-around);
    }
}