.book-features__window{
    @include flexbox(center,center);
    flex-direction: column;
    // position: absolute;
    position: relative;
    background-color: #BFB0A3;
    
    // background: linear-gradient(#93a5cf , #e4efe9);
    width: 100%;
    top: 0%;   // JS: CHANGE POSITION
    left: 0;
    transition: .9s;
    // background-color: red;


}

.book-features__label{
    font-weight: bold;
}

.book-features__option{
    @include flexbox(center,space-around);
    // position: relative; 
    width: 90%;
    // background-color: red;
    max-height: $book-features-height;
    line-height: $book-features-height;
    margin: 0 auto;
}

.book-features__input{
    width: 25%;
    border-radius: 5px;
    border: 1px solid black;
    &:focus{
        background-color: #F2EBEE;
    }
}

.book-features__button{
//    background-color: black;
//    color: #00B7FF;
    font-size: 16px; 
    width: 30px;
    height: 20px;
    padding: 0;
   border: none;    
//    padding: 1px 2px;
}   

// .book-features__fas{
//     position: absolute;
//     top: 50%;
//     right: 5%;
//     transform: translateY(-50%);
//     font-size: 1.2rem;
// }