.book-features__window {
    @include flexbox(center, center);
    flex-direction: column;
    position: relative;
    width: $full-of-parent;
    top: 0%; // JS: CHANGE POSITION
    left: 0;
    transition: .9s;
}

.book-features__label {
    font-weight: bold;
}

.book-features__option {
    @include flexbox(center, space-around);
    width: 90%;
    max-height: $book-features-height;
    line-height: $book-features-height;
    margin: 0 auto;

    @include respond-to(small) {
        max-height: $book-features-desktop-height;
        line-height: $book-features-desktop-height;
    }
}

.book-features__input {
    width: 25%;
    border-radius: 5px;
    border: 1px solid black;

    &:focus {
        background-color: $soft-peach;
    }
}

.book-features__button {
    font-size: 16px;
    @include boxSize(30px, 20px);
    padding: 0;
    border: none;
}