.book-card {
    @include flexbox(center, space-around);
    flex-wrap: wrap;
    @include boxSize(100%, 30vh);
    background-color: red;
}

.book-card__wraper {
    @include flexbox(center, space-around);
    position: relative;
    @include boxSize(205px, 130px);
    font-size: 1.5rem;
    color: black;
    background-color: $sirocco;
    border-radius: 15%;
    padding: 5px;
    margin: 10px;
    box-sizing: border-box;
}


.book-card__list {
    @include flexbox(flex-start, space-around);
    width: 60%;
    max-height: 100%;
    flex-direction: column;
}

.book-card__title {
    font-family: $stylish;
    font-weight: bold;
    &--smaller{
        font-size: 1.11rem;
    }
}

.book-card__feature {
    font-family: $stylish;
    font-size: 1rem;
    &--smaller{
        font-size: .8rem;
    }
}

.book-card__btn-wraper {
    @include flexbox(center, space-around);
    flex-direction: column;
    @include boxSize(15%, 90%);
    border-left: 1px solid black;
}


.book-card__button {
    font-size: 1.2rem;
    background-color: inherit;
    color: black;
    border: none;
    transition: .7s;

    &:hover {
        color: $quarter-spanish-white;
    }
}