.book-card___change-values {
    display: none;
    position: absolute;
    height: 90%;

    font-size: 15px;
    font-weight: bold;
    border-radius: 20%;
    padding-left: 10%;

    background-color: #FFEBCD;
    filter: opacity(0.9);
}

#page_value,
#hours_value {
    background-color: inherit;
    border: none;
    margin-bottom: 3px;
    border-bottom: 1px solid black;
}

#page_value {
    width: 30%;
}

#hours_value {
    width: 30%;
}