.book-card___change-values {
    display: none;
    position: absolute;
    width: 90%;
    height: 100%;

    font-size: 15px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 10%;
    padding-left: 10%;

    background-color: #FFEBCD;
    filter: opacity(0.9);
    &>span{
        font-family: $josefin-sans;
        font-size: 1.2rem;
        margin-top: 1vh; 
    }
}

.book-card__form-button{
    color: black;
    font-size: .8rem;
    padding: .5vh;
    margin: 1vh 0;
    transition: .7s;
    &:hover{
        color: white;
    }
}

#page_value,
#hours_value {
    width: 30%;
    background-color: inherit;
    border: none;
    margin-bottom: 3px;
    border-bottom: 1px solid black;
}