.header {
    @include flexbox(center, center);
    @include position(0, 50%, fixed);
    transform: translateX(-50%);
    @include boxSize(70%, 50px);
    z-index: $zindex-tooltip;

    &__title {
        font-family: $josefin-sans;
        font-size: 1.8rem;

        @include respond-to(medium) {
            font-size: 2.2rem;
        }
    }

    @include respond-to(medium) {
        position: unset;
        @include boxSize(100%, 7vw);
        transform: translateX(0)
    }
}