.stats__btn{
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    // align-content: flex-start;
    width: 100%;
    // margin-right: 5%;
}

.stats__toggle{
    border-bottom: black 2px solid;   
    padding: 10px;
    font-size: 1.2rem;
    color: black;
    transition: .4s;
    cursor: pointer;
    &:hover{
        color: #FA8072;
    }
}

.stats-cont{
    // position: 
    display: none;
    // width: 0;
    // height: 0;
    // transition: 5s;
    &--active{
        display: flex;
        // width: 250px;
        // height: 300px;
        background-color: white;
    }
}

.stats-speed{
    display: none;
    // width: 0;
    // height: 0;
    // transition: 5s;
    &--active{
        display: flex;
        background-color: white;
    }
}