.stats__btn{
    display: flex;
    flex-direction: column;
    width: 10%;
    margin-right: 5%;
}

.stats__toggle{
    border-left: black 5px solid;   
    padding: 10px;
    font-size: 1.8rem;
    color: black;
    transition: .4s;
    cursor: pointer;
    &:hover{
        color: #FA8072;
    }
}

.stats-cont{
    display: none;
    // width: 0;
    // height: 0;
    // transition: 5s;
    &--active{
        display: flex;
        width: 100%;
        height: 100%;
    }
}

.stats-speed{
    display: none;
    // width: 0;
    // height: 0;
    // transition: 5s;
    &--active{
        display: flex;
        width: 100%;
        height: 100%;
    }
}