@mixin flexbox($align: center ,$justify: flex-start){
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@mixin position($top,$left, $position: absolute) {
    position: $position;
    top: $top;
    left: $left;
    transform: translate(-50%,-50%)
}

@mixin boxSize($width, $height) {
  width: $width;
  height: $height;
}

@mixin zoom-photo($scale, $posX: 50%, $posY: 50%){
    transform: $scale;
    transform-origin: $posX $posY
}

@mixin respond-to($breakpoint) {
    @if $breakpoint == small {
      @media (min-width: 768px) {
        @content;
      }
    }
  
    @else if $breakpoint == medium {
      @media (min-width: 992px) {
        @content;
      }
    }
  
    @else if $breakpoint == large {
      @media (min-width: 1200px) {
        @content;
      }
    }
  }

  @mixin chartStyle() {
    border-bottom: 1px solid black;
    @include respond-to(small) {
        background-color: white;
        border: 1px solid black;
    }
  }