
// sizes

$book-features-height:7vh;

// Fonts
$muli:'Muli';
$josefin-sans: 'Josefin Sans';
$stylish: 'Stylish';

// z-index
$zindex-dropdown: 100;
$zindex-sticky: 120;
$zindex-fixed: 130;
$zindex-modal-backdrop: 140;
$zindex-modal: 150;
$zindex-popover: 160;
$zindex-tooltip: 170;