
// sizes
$full-of-parent: 100%;

$book-features-height: 8vh;

// other wv
$book-features-desktop-height: 52px;

// font-sizes

// Fonts
$muli:'Muli';
$josefin-sans: 'Josefin Sans';
$stylish: 'Stylish';

// colors
$woody-brown: #492d2d;
$sirocco: #778A8C;
$soft-peach: #F2EBEE;
$quarter-spanish-white: #F8F1E3;
$sanguine-brown: #8C4637;
$bon-jour:#E2DCDC;

// z-index
$zindex-dropdown: 100;
$zindex-sticky: 120;
$zindex-fixed: 130;
$zindex-modal-backdrop: 140;
$zindex-modal: 150;
$zindex-popover: 160;
$zindex-tooltip: 170;