.app__main {
    @include flexbox(center, center);
    width: $full-of-parent;
    height: $full-of-parent;

    @include respond-to(medium) {
        position: relative;
        align-items: flex-start;
        width: $full-of-parent;
    }
}