.book-features{
    position: absolute;
    top: 30%;
    // top: 60%;
    width: 0%;
    // width: 70%;
    border: 2px solid black;

    height: $book-features-height;
    margin: 0 auto;
    border-radius: 20%;
    // background-color: red;
    overflow: hidden;
    transition: .9s;
    &--active{
        width: 80%;
        top: 60%;
        border: 2px solid black;
    }
}