.book-features {
    @include boxSize(0%, $book-features-height);
    position: absolute;
    top: 60%;

    background-color: #BFB0A3;

    border: 2px solid black;
    border-radius: 20%;

    margin: 0 auto;
    overflow: hidden;
    transition: .9s;


    &--active {
        width: 100%;
        top: 200%;
    }

    @include respond-to(small) {
        &--active {
            @include boxSize(68%, $book-features-desktop-height);

            top: 190%;
        }
    }

    @include respond-to(medium) {
        top: 20%;

        &--active {
            // width: 38%;
            @include boxSize(38%, $book-features-desktop-height);
            top: 140%;
        }

        &--smaller {
            width: 60%;
        }
    }
    @include respond-to(large) {
        &--active {
            width: 28%;
            top: 100%;
        }

        &--smaller {
            width: 40%;
        }
    }
    @include respond-to(larger) {
        &--active {
            top: 150%;
        }
    }
}