.book-features{
    // display: none;
    position: absolute;
    top: 30%;
    width: 40%;
    height: $book-features-height;
    margin: 0 auto;
    // height: 1000px;
    // border: 1px solid black;
    // background-color: cadetblue;
    overflow: hidden;
    transition: .9s;
    &--active{
        top: 52%;
    }
}