.book-section {
    @include flexbox(center);
    flex-direction: column;
    @include boxSize(100%, 20%);

    @include respond-to(small) {
        width: 85%;
    }

    @include respond-to(medium) {
        width: 60%;
        // margin-top
    }
}