.app__stats {
    display: flex;
    flex-direction: column;
    @include boxSize(100vw, 45px);
    position: fixed;
    top: 0;
    left: 0;

    background-color: white;
    transition: 1s;
    z-index: $zindex-fixed;

    &:hover {
        right: 3%;
    }

    &--active {
        width: $full-of-parent;
    }

    @include respond-to(medium) {
        width: 0;
        position: unset;

        &--active {
            min-width: 50%;
        }

        flex-direction: row-reverse;
        justify-content: space-between;
        transition: .9s
    }
}