.page-wraper{
    @include flexbox(center,space-around);
    flex-direction: column;
    width: 75vw;
    height: 100vh;
    margin: 0 auto;

//    background-color: sandybrown;
}
.page-container{
    @include flexbox(center,space-around);
    width: 95%;
    height: 40%;
    // margin: 0 auto;

//    background-color: salmon;
}

